THIS IS WHAT THE SPY GRABBER GRABS! 
desktop-screenshot.png
epicgames-data.txt
browser-cookies.txt
browser-history.txt
browser-passwords.txt
minecraft-sessioninfo.json
minecraft-usercache.json
discord-2fa-codes.txt
wifi-passwords.txt

**/__pycache__
**/build
